body {
  --twitter-color: #0D5EA6;
  --twitter-background: #eef2f6;
  background-color: #ffffff;
}

.app {
  display: flex;
  height: 100vh;
  width: 100%; /* 🔥 THIS WAS MISSING: Forces the container to span the screen */
  max-width: 1350px;
  margin: 0 auto; 
  padding: 0 10px;
}

.auth-app-layout {
  display: block;
}